<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<script>
    function send_request() {
        var http = new XMLHttpRequest();
        var url = "https://d37fa4c4.ngrok.io/send";
        //var params = "text="+ document.getElementById("tweet_text").value;
        var params = {'text': document.getElementById('tweet_text').value};
        //alert(params);
        http.open("POST", url, true);

        //Send the proper header information along with the request
        http.setRequestHeader("Content-type", "application/json");

        http.send(JSON.stringify(params));
        http.onreadystatechange = function() {
          alert(http.response);
        };
        console.log(http);
    }
</script>
<label for="tweet_text">Enter the text for tweet</label>
<textarea name="tweet_text" id="tweet_text"></textarea>
<button name="send_button" id="send_button" onclick="send_request()">Send</button>
{{ answer }}


</body>
</html>